<%- include ('../layout/header.ejs') %>

<style>
    html body .label-info {
    background: #01b2ac !important;
}
    </style>
    <!-- <% if(typeof error != 'undefined'){ %>
    <div style="text-align: center;"><p><%= error %></p></div>
    <% } %> -->
<div class="row justify-content-center" style="margin:20px">
						<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
							<div class="card  box-shadow-0">
								<div class="card-header d-flex justify-content-between" style="padding-top:15px">
                                  <h4 class="card-title mb-1">Update Payment Plan</h4>
                                  <a href="/payment/show_payment" class="btn btn-primary">Back</a>
								</div>
                          
                                <div style="text-align:center;"><p class="popular_job_show"></p></div>
								<div class="card-body pt-0" >
									<form  method="post" action="/payment/edit_payment/<%= payment._id %>"  >
                              
										<br>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group" >
                                                <label>Select Course <span class="required_">*</span></label>
                                                    <select type="text" class="form-control" name="course" id="inputName"  required style="height: 47px;">
                                                        <option value="">-select course-</option>
                                                     <% course.forEach((data)=>{%>
                                                       
                                                        <option <% if(payment.playlist_id  == data._id){ %> 'selected' <% } %>  value="<%= data._id %>"><%= data.playlist %></option>
                                                     <%  }) %>
                                                    </select>
                                                </div>
                                                </div>

                                            <div class="col-md-4">
                                                <div class="form-group" >
                                                <label>add Fee <span class="required_"></span></label>
                                                    <input type="number" class="form-control" name="fee" id="inputName" value="<%= payment.fee %>" placeholder="add fee" required>
                                                </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group" >
                                                    <label>Add Disount % <span class="required_"></span></label>
                                                        <input type="number" class="form-control" name="disount" value="<%= payment.discount %>" id="inputName" placeholder="add disount % "  required>
                                                    </div>
                                                    </div>

                                            <div class="form-group mb-0 mt-3 justify-content-end">
                                            <div><br>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                    
                                            </div>
                                            </div>
                                    
									</form>

								</div>
							</div>
						</div>
                    </div>

<%- include ('../layout/footer.ejs') %>


