<%- include ('../layout/header.ejs') %>

<style>
  .chosen-container-multi .chosen-choices{
    height: 45px !important;
  }
    </style>
    <!-- <% if(typeof error != 'undefined'){ %>
    <div style="text-align: center;"><p><%= error %></p></div>
    <% } %> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
<style>
   
</style>
<div class="row justify-content-center" style="margin:20px">
						<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
							<div class="card  box-shadow-0">
								<div class="card-header d-flex justify-content-between" style="padding-top:15px">
                                  <h4 class="card-title mb-1">Edit Task</h4>
                                  <a href="/task/show_task" class="btn btn-primary">Back</a>
								</div>
                          
                                <div style="text-align:center;"><p class="popular_job_show"></p></div>
								<div class="card-body pt-0" >
									<form  method="post" action="/task/edit_task/<%= data._id %>" enctype="multipart/form-data" >
                              
										<br>

                                        <div class="row">
            
                                            <div class="col-md-12">
                                                 <input type="text" class="form-control" name="task" id="inputName" value="<%= data.task %>" placeholder="Enter Task" required>
                                             </div>
                                         
                                          
                                        <div class="col-md-6 padding-assign">
                                                   <label>From <span class="required_">*</span></label>
                                                   <input type="date" class="form-control " name="from" 
                                                   id="inputName" value="<%= data.from.toISOString().slice(0,10) %>" placeholder="Enter Task" required>
                                             </div>
                                           
                                             
                                             <div class="col-md-6 padding-assign">
                                               <label>To <span class="required_">*</span></label>
                                                 <input type="date" class="form-control " name="to" id="inputName" value="<%= data.to.toISOString().slice(0,10) %>" placeholder="Enter Task" required>
                                               </div>
                                   
                                               <div class="col-md-6 padding-assign">
                                                 <label>Assign Task to User.<span class="required_">*</span></label>
                                                     <select type="text" class="form-control chosen-select " name="assign_task" id="inputName" multiple >
                                                        
                                                        <%let num =0; %>
                                                         <option value="">-select users-</option>
                                                         <% user.forEach(users =>{ %>

                                                         <option <% if(typeof data.assign_id[num] !=='undefined' && data.assign_id[num] !== null ){ %>
                                                            <% if(data.assign_id[num].equals(users._id)){ %> <% num++ %> selected <% } %> 
                                                            <% } %>  value="<%= users._id %>"><%= users.name %></option>
                                                         <% }) %>
                                                         
                                                     </select>
                                                 </div>
                                   
                                                 <div class="col-md-6 padding-assign">
                                                  <label>Add Status.<span class="required_">*</span></label>
                                                      <select style="height: 45px;" type="text" class="form-control " name="task_status" id="inputName" >
                                                         
                                                          
                                                          <option value="">-select status-</option>
                                                        
                                                          <option  <% if(data.task_status =='fresh'){ %> selected <% } %> value="fresh">Fresh Task</option>

                                                          <option  <% if(data.task_status == 'process'){ %> selected <% } %> value="process">On Process</option>

                                                          <option <% if(data.task_status == 'hold'){ %> selected <% } %>  value="hold">On Hold</option>

                                                          <option <% if(data.task_status == 'Complete'){ %> selected <% } %>  value="Complete">Complete</option>
                                                         
                                                          
                                                      </select>
                                                  </div>


                                               <div class="col-md-6 padding-assign">
                                                 <label>Select Task Priority.<span class="required_">*</span></label>
                                                     <select type="text" style="height: 47px;" class="form-control " name="priority" id="inputName"  >
                                                        
                                                         
                                                         <option <% if(data.type ==='low'){ %> selected <% } %> value="low">low</option>
                                                         <option <% if(data.type ==='medium'){ %> selected <% } %> value="medium">medium</option>
                                                         <option <% if(data.type==='urgent'){ %> selected <% } %> value="urgent">urgent</option>
                                                         
                                                     </select>
                                                 </div>
                                                 <div class="col-md-6 padding-assign">
                                                   <label>Attachments.<span class="required_"></span></label>
                                                   <input type="file" class="form-control " name="attachment" id="inputName">
                                                   <input type="hidden" name="imageUnlink" value="<%= data.file %>">
                                                   <% if(typeof data.file !=='undefined' && data.file !== null ){ %>
                                                   <a href="<%= data.file  %>" target="_blank">view docs</a>
                                                   <% } %>
                                             </div>
                                     
                                   
                                                 <div class="col-md-12 padding-assign">
                                                   
                                                     <textarea type="date" class="form-control " name="discription" id="inputName" placeholder="Enter Discription" required><%= data.discription %></textarea>
                                                   </div>
                                          
                                               </div>
                                             
        
 
                                            <div class="form-group mb-0 mt-3 justify-content-end">
                                            <div><br>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                    
                                            </div>
                                            </div>
                                    
									</form>

								</div>
							</div>
						</div>
                    </div>
<script>
$(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})
</script>
<%- include ('../layout/footer.ejs') %>


